*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body{
    background-color: #1c1c1c;
    width: 100%;
}

/* HEADER */

header{
    background-color: #ffd700;
    width: 100%;
    height: 86px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header ul li{
    list-style-type: none;
    padding-left: 80px;
}

header ul li a{
    text-decoration: none;
    color: #1c1c1c;
    transition: .2s ;
}

header ul li a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}


/* CORPO DO SITE */


footer{
    height: 40vh;
    background-color: #ffd700;
    padding: 20px;
    width: 100%;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}

.nomes p{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.fontes p{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.p2{
    color: black;
}

/*------------------------------------------*/

h1{
    color: #ffd700;
    font-size: 30px;
}
p{
    color: white;
    max-width: 800px;
    line-height: 30px;
    font-size: 20px;
    text-align: justify;
}


#sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: solid;
    border-color: #ffd700;
}

#sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    border-bottom: solid;
    border-color: #ffd700;
    margin-top: 5%;
    padding-bottom: 5%;
}

#sec3Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#sec3 .infos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pessoas{
    display: flex;
    flex-direction: column;
    align-items: center;
}



#sec3 article{
    margin-top: 5%;
    border-bottom: solid;
    border-color: gray;
    padding-bottom: 5%;
}

.image1{
    width: 400px;
    height: 400px;
}

.image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: #ffd700 0 0 10px;
}

.image2{
    width: 300px;
    height: 400px;
}

.image2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px #ffd700;
}